
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.container{
    width: 1200px;
    margin: 0 auto;
}
body{
    background-color: rgb(65, 57, 101);
}
.header{
    margin-top: 50px;
    text-align: center;
}
.header__descripsion{
    color: rgb(206, 177, 36);
    margin-bottom: 15px;
}
.header__title{
    font-size: 50px;
    color: white;
    margin-bottom: 18px;
    letter-spacing: 3px;
}
.header__content{
    background-color: orange;
    height: 5px;
    width: 230px;
    margin: 0 auto;
    margin-bottom: 30px;
}
.header__box{
    display: flex;
    justify-content: space-between;
}
.header_box-card{
    width: 360px;
    height: 500px;
    background-color: rgb(110, 99, 160);
    border-radius: 5px;
}
.header__box__card-title{
    color: orange;
    font-size: 31px;
    padding: 20px 50px 0 0;
}
.header__box__card-paragraf{
    text-align: justify;
    padding: 20px 40px 20px 40px;
    color: white;
}
.header__box__card_button{
    width: 120px;
    height: 40px;
    margin-right: 160px;
    background: orange;
    border: none;
    border-radius: 5px;
    line-height: 20px;
    letter-spacing: 2px;
    color: rgb(65, 57, 101);
    font-weight: bold;
    font-size: 14px;
}
.header_footer{
   color: white;
   margin-top: 20px;
}

// media query
// media tablet
@media (max-width:800px){
    body{
        background-color: rgb(165, 165, 139);
    }
    .header{
    margin-top: 50px;
    text-align: center;
}
.header__descripsion{
    color: rgb(206, 177, 36);
    margin-bottom: 15px;
}
.header__title{
    font-size: 50px;
    color: white;
    margin-bottom: 18px;
}
.header__content{
    background-color: orange;
    height: 5px;
    width: 230px;
    margin: 0 auto;
    margin-bottom: 30px;
}
.header__box{
    display: flex;
    display: block;
    
}
.header_box-card{
    width: 760px;
    height: 300px;
    background-color: rgb(142, 142, 190);
    margin: 0 auto;
    padding: 20px;
    margin-top: 20px;
    border-radius: 10px;
    img{
        float: left;
    }
    
}
.header__box__card-title{
    color: orange;
    font-size: 31px;
    padding-right:130px;
}
.header__box__card-paragraf{
   position: relative;
   left: 40px;

}
.header__box__card_button{
    width: 120px;
    height: 40px;
    position: relative;
    right: 40px;
   
}
.header_footer{
   color: white;
   margin-top: 20px;
}
}
// media phone
@media (max-width: 400px){
    body{
    background-color: rgb(206, 208, 231);
}
.header{
    margin-top: 50px;
    text-align: center;
}
.header__descripsion{
    color: rgb(206, 177, 36);
    margin-bottom: 15px;
}
.header__title{
    font-size: 50px;
    color: rgb(138, 133, 133);
    margin-bottom: 18px;
}
.header__content{
    background-color: orange;
    height: 5px;
    width: 230px;
    margin: 0 auto;
    margin-bottom: 30px;
}
.header__box{
    display: flex;
    display: block;
    justify-content: space-between;
}
.header_box-card{
    width: 400px;
    height: 500px;
    background-color: rgb(183, 182, 182);
    img{
       padding-left: 80px;
    }
}
.header__box__card-title{
    color: orange;
    font-size: 31px;
    padding: 50px 0px 0 30px;
}
.header__box__card-paragraf{
    text-align: justify;
    padding: 20px 40px 20px 40px;
}
.header__box__card_button{
    width: 120px;
    height: 40px;
    margin-left: 120px;
}
.header_footer{
   color: white;
   margin-top: 20px;
}
}